.features{
	padding: 50px 0px;
}
.features__img{
	padding-top: 40px;
}
.features-box{
	background-image: url("./../img/features_bg.jpeg");
	min-height: 760px;
	border-bottom-right-radius: 24px;
	border-top-right-radius: 24px;
	border-bottom-left-radius: 24px;
	border-top-left-radius: 24px;
}
.features-box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-top: 30px;

}
.features-card{
	padding: 32px;
	transition: all 0.4s ease;
	border: 1px solid hsla(0,0%,100%,.12);;

	&:hover{
		background: $violet;
	}
	
}
.features-box .features-card:first-child{
	border-top-left-radius: 24px;
}
.features-box .features-card:nth-child(3){
	border-top-right-radius: 24px;
}
.features-box .features-card:nth-child(4){
	border-bottom-left-radius: 24px;
}
.features-box .features-card:nth-child(6){
	border-bottom-right-radius: 24px;
}

.features-card-description p {
	padding: 20px 0;
}
.features-card-title {
	color: #fff;
	font-family: ProstoOne,sans-serif;
	font-size: 24px;
}
.features-card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.features-card-description {
	height: 0;
	max-height: 200px;
	overflow-y: auto;
	display: none; 
	
	.features-card:hover & {
	  display: block;
	  height: auto;
	}
 }