.secondary__title{
	position: relative;
	font-family: 'Prosto One', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	padding-bottom: 35px;
	text-align: center;
	
}
.main__title{
	position: relative;
	&::after{
		z-index: 100;
		content: "";
		position: absolute;
		top: 70%;
		left: 48%;
		width: 32px;
		height: 2px;
		background-image: url("./../img/mini_red_line.svg");
		background-repeat: no-repeat;
		z-index: 2;
	}
}
.description{
	color:#828282;
	text-align: center;
}
.main__img{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;

}
.red__arrow-riaght{
		cursor: pointer;
		z-index: 100;
		position: absolute;
		top: 54%;
		right: 47%;
}
.vertical__line{
	z-index: 10;
	position: absolute;
	top: 80px;
	left: 51%;
}
